{% load static %}
<html ng-app="clementineApp">
  <head>
     <title>VotingKing | Home</title>
     <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">
     <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Josefin+Slab|Khand|Marck+Script|Monoton|Poiret+One|Rajdhani|Special+Elite|VT323" rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
     <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    
    <div class="header">
      <div class="header-inside">
        <div class="title">
            <img src="../../../static/img/votebanner.png" >
        </div>
        <div class="header-tools">
           <a href="/"><button id="home">Home</button></a>
           <a href="/guest/about"><button id="about">About</button></a>
           {% if user.is_authenticated %}
              <a href="/logout"><button id="login">Log Out</button></a>
              <a href="/polls/new"><button id="createPoll">Create Poll</button></a>
           {% else %}
              <a href="/login"><button id="login">Log In</button></a>
              <a href="/signup"><button id="singup">Sign Up</button></a>
           {% endif %}
           <a href="/polls"><button id="polls">Polls</button></a>
        </div>
      </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                  <div class="image">
                      <img class="mySlides active" src="../../../static/img/voteme1200x450.png">
                      <img class="mySlides" src="../../../static/img/createpoll.png">
                      <img class="mySlides" src="../../../static/img/share.png">
                      <img class="mySlides" src="../../../static/img/polldelete.png">
                      <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
                      <a class="w3-btn-floating w3-display-right" onclick="plusDivs(+1)">&#10095;</a>
                      <div class="w3-center w3-display-bottommiddle" style="width:100%">
                        <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
                        <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
                        <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
                        <span class="w3-badge demo w3-border" onclick="currentDiv(4)"></span>
                      </div>
                  </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}
      <script type="text/javascript" src="../../../static/js/slide.js"></script>
    {% endblock %}
  </body>
</html>